<header>
    <div class="header-section">
        <p class="H-logo">AniBitz</p>
        <div class="searchContainer">
        <input type="text" placeholder="Search your anime ..." id="searchInput" >
         <svg xmlns="http://www.w3.org/2000/svg" id="searchIcon" width="16" height="16" fill="black" class="bi bi-search" viewBox="0 0 16 16">
         <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
         </svg>
         </div>
        <button class="Hbtn  homebtn" onclick="location.href='/'">Home</button>
        <button class="Hbtn explorebtn" onclick="location.href='/explore'">Explore</button>
        <button class="Hbtn savedbtn" onclick="location.href='/saved'">Saved</button>
        <button class="Hbtn loginbtn" onclick="location.href='/sing-up'">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person" viewBox="0 0 16 16">
            <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6m2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0m4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4m-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10s-3.516.68-4.168 1.332c-.678.678-.83 1.418-.832 1.664z"/>
            </svg>
        </button>

    </div>
</header>
<script src="/js/main.js"></script>
<script src="/js/search.js"></script>
<!-- /* HEADER STYLES ARE IN MAIN.CSS FILE */ -->